<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="modernhttpclient" version="2.4.2" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="SkiaSharp" version="1.59.3" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="SkiaSharp.Views.Forms" version="1.59.3" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Telerik.UI.for.Xamarin.Trial" version="2018.1.202.1" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Xamarin.FFImageLoading" version="2.3.4" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Xamarin.FFImageLoading.Forms" version="2.3.4" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Xamarin.Forms" version="2.5.0.122203" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Xamarin.Forms.Pages" version="2.5.0.122203" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Xamarin.Forms.Theme.Base" version="1.0.0.43-pre1" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Xamarin.Forms.Theme.Dark" version="1.0.0.43-pre1" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Xamarin.Forms.Theme.Light" version="1.0.0.43-pre1" targetFramework="portable45-net45+win8+wp8+wpa81" />
</packages>