<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AppCenter" version="1.6.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Microsoft.AppCenter.Analytics" version="1.6.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Microsoft.AppCenter.Crashes" version="1.6.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="SkiaSharp" version="1.59.1" targetFramework="portable45-net45+win8+wpa81" />
  <package id="SkiaSharp.Views.Forms" version="1.59.1" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Xam.Plugins.Settings" version="3.1.1" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Xamarin.FFImageLoading" version="2.3.6" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Xamarin.FFImageLoading.Forms" version="2.3.6" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Xamarin.Forms" version="2.5.1.444934" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Telerik.UI.for.Xamarin.Trial" version="2018.2.620.2" targetFramework="portable45-net45+win8+wpa81" />
</packages>