<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="SkiaSharp" version="1.59.2" targetFramework="portable45-net45+win8+wpa81" />
  <package id="SkiaSharp.Views.Forms" version="1.59.2" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Telerik.UI.for.Xamarin" version="2018.1.117.5" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Xam.Plugins.Settings" version="3.1.1" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Xamarin.FFImageLoading" version="2.3.4" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Xamarin.FFImageLoading.Forms" version="2.3.4" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Xamarin.Forms" version="2.4.0.91020" targetFramework="portable45-net45+win8+wpa81" />
</packages>