<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AppCenter" version="1.6.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Microsoft.AppCenter.Analytics" version="1.6.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Microsoft.AppCenter.Crashes" version="1.6.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="portable45-net45+win8+wpa81" />
  <package id="SkiaSharp" version="1.59.3" targetFramework="portable45-net45+win8+wpa81" />
  <package id="SkiaSharp.Views.Forms" version="1.59.3" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Xam.Plugins.Settings" version="3.1.1" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Xamarin.FFImageLoading" version="2.4.4.859" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Xamarin.FFImageLoading.Forms" version="2.4.4.859" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Xamarin.FFImageLoading.Transformations" version="2.4.4.859" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Xamarin.Forms" version="3.4.0.1008975" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Telerik.UI.for.Xamarin.Trial" version="2019.1.131.1" targetFramework="portable45-net45+win8+wpa81" />
</packages>