<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>MinimumOSVersion</key>
	<string>8.0</string>
	<key>CFBundleDisplayName</key>
	<string>Telerik Tagit</string>
	<key>CFBundleIdentifier</key>
	<string>com.telerik.teleriktagit</string>
	<key>CFBundleVersion</key>
	<string>1.11</string>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>NSContactsUsageDescription</key>
	<string>Tagit App needs Contacts Access</string>
	<key>CFBundleName</key>
	<string>Telerik Tagit</string>
	<key>CFBundleShortVersionString</key>
	<string>1.2</string>
	<key>XSAppIconAssets</key>
	<string>Assets.xcassets/AppIcons.appiconset</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Tagit App needs Photo Library Access to allow users to tag existing photos on their device.</string>
	<key>NSCameraUsageDescription</key>
	<string>Tagit App needs Camera Access to allow users to take new picture and tag it afterwards.</string>
	<key>NSCalendarsUsageDescription</key>
	<string>Tagit App needs Calendar Access</string>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
</dict>
</plist>
